/* color palette from <https://github.com/vuejs/theme> */
:root {
	--min-app-width: 360px;

	--vt-c-white: rgb(255, 255, 255);
	--vt-c-white-soft: rgb(200, 200, 200);
	--vt-c-white-trans: rgba(255, 255, 255, 0.75);

	--vt-c-black: rgb(0, 0, 0);
	--vt-c-black-soft: rgb(35, 35, 35);
	--vt-c-black-trans: rgba(0, 0, 0, 0.75);

	--vt-c-gold-dark: rgb(225, 175, 0);
	--vt-c-gold-light: rgb(150, 100, 0);

	--vt-c-green-dark: rgb(0, 175, 0);
	--vt-c-green-light: rgb(0, 225, 0);

	--vt-c-yellow-dark: rgb(175, 175, 0);
	--vt-c-yellow-light: rgb(200, 200, 0);

	--vt-c-orange-dark: rgb(200, 125, 0);
	--vt-c-orange-light: rgb(255, 175, 0);

	--vt-c-red-dark: rgb(150, 0, 0);
	--vt-c-red-light: rgb(200, 0, 0);

	--vt-c-purple-dark: rgb(75, 0, 150);
	--vt-c-purple-light: rgb(150, 0, 225);

	--vt-c-border-dark: rgb(100, 100, 100);

	--vt-c-text-light-1: var(--vt-c-black);
	--vt-c-text-light-2: var(--vt-c-black-soft);
	--vt-c-text-dark-1: var(--vt-c-white);
	--vt-c-text-dark-2: var(--vt-c-white-soft);
}

/* semantic color variables for this project */
:root {
	--color-background: var(--vt-c-black);
	--color-background-soft: var(--vt-c-black-soft);
	--color-background-trans: var(--vt-c-black-trans);

	--color-border: var(--vt-c-text-dark-2);
	--color-border-hover: var(--vt-c-text-dark-1);
	--color-border-active: var(--vt-c-gold-dark);

	--color-heading: var(--vt-c-text-dark-2);
	--color-text: var(--vt-c-text-dark-1);
	--color-text-alt: var(--vt-c-gold-dark);

	--color-green: var(--vt-c-green-dark);
	--color-yellow: var(--vt-c-yellow-dark);
	--color-orange: var(--vt-c-orange-dark);
	--color-red: var(--vt-c-red-dark);
	--color-purple: var(--vt-c-purple-dark);
}

.light {
	--color-background: var(--vt-c-white);
	--color-background-soft: var(--vt-c-white-soft);
	--color-background-trans: var(--vt-c-white-trans);

	--color-border: var(--vt-c-border-dark);
	--color-border-hover: var(--vt-c-text-light-1);
	--color-border-active: var(--vt-c-gold-light);

	--color-heading: var(--vt-c-text-light-2);
	--color-text: var(--vt-c-text-light-1);
	--color-text-alt: var(--vt-c-gold-light);

	--color-green: var(--vt-c-green-light);
	--color-yellow: var(--vt-c-yellow-light);
	--color-orange: var(--vt-c-orange-light);
	--color-red: var(--vt-c-red-light);
	--color-purple: var(--vt-c-purple-light);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	position: relative;
}

body {
	line-height: 1.6;
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}
