@import './base.scss';

* {
	box-sizing: border-box !important;
}

#app {
	min-width: 360px;
	height: 100vh;
}

button {
	color: var(--color-heading);
	background-color: var(--color-background);
	border: 2px solid var(--color-border);
	text-transform: uppercase;
	border-radius: 4px;
	font-size: 0.75rem;
	font-weight: 900;
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	transition: 0.35s ease-in-out;

	&:hover {
		border: 2px solid var(--color-border-hover);
		color: var(--color-text);
	}

	&:active {
		border-color: var(--color-border-active);
		color: var(--color-text-alt);
	}
}

input {
	color: var(--color-heading);
	background-color: var(--color-background);
	border: 2px solid transparent;
	border-radius: 4px;
	font-size: 1rem;
	padding: 0.25rem;
	outline: none;

	&:hover {
		border-color: var(--border-color-hover);
	}

	&:focus {
		border-color: var(--border-color-hover);
		color: var(--color-text);
	}
}

img,
svg {
	display: block;
	user-select: none;
	transition: 0.35s ease-in-out;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.1rem;
}

h5 {
	font-size: 0.75rem;
}
